In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("data/World Energy Consumption.csv")
df.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

In [3]:
df.describe()

,year,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
count,22012.000000,1.812300e+04,1.111300e+04,1747.000000,2687.000000,2302.000000,2767.000000,5275.000000,5527.000000,5492.000000,...,6849.000000,4035.000000,2413.000000,4639.000000,4744.000000,7065.000000,7996.000000,4065.000000,6886.000000,4101.000000
mean,1974.213247,1.053096e+08,3.585114e+11,46.091694,2.719074,133.558459,38.068209,64.716800,10.966685,1.954035,...,0.622750,0.210395,267.541206,7.314174,53.422938,62.811828,17.561153,232.108949,1.404910,0.651413
std,35.058653,4.640460e+08,2.411179e+12,274.616745,10.057018,264.707851,111.623148,201.043915,47.953561,5.274155,...,2.066186,0.643304,5940.944120,37.327922,273.255306,252.734217,101.693172,733.841324,4.489043,1.893820
min,1900.000000,1.833000e+03,1.642060e+08,-100.000000,-50.843000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-100.000000,-51.208000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1946.000000,1.712404e+06,1.365898e+10,-0.616500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,4.029000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1984.000000,6.991543e+06,4.167411e+10,8.179000,0.000000,15.482000,0.673000,0.146000,0.010000,0.062000,...,0.000000,0.000000,20.000000,0.000000,0.005000,0.000000,0.000000,0.051000,0.000000,0.003000
75%,2003.000000,2.557688e+07,1.744295e+11,26.508500,0.861500,165.266750,13.629500,34.289000,0.690000,1.577500,...,0.095000,0.018500,47.971000,0.315000,2.357750,2.101000,0.140000,45.523000,0.372000,0.268000
max,2022.000000,7.975105e+09,1.136302e+14,5659.328000,141.131000,2588.512000,1199.207000,2514.102000,677.570000,71.429000,...,40.000000,7.586000,242384.844000,665.413000,5487.600000,3219.852000,2139.230000,8422.012000,56.840000,26.157000

In [4]:
len(df.columns)

129

In [5]:
#Filtering required columns only including one with resourse consumption and electricity.
col_list = df.columns
consumption_list = []
for col in col_list:
    name = col.split('_')

    for val in name:
        if val=='country' or val=='year' or val=='iso' or val=='consumption' or val=='electricity':
            consumption_list.append(col)

len(consumption_list)

33

In [6]:
energy_data = pd.DataFrame(df[consumption_list])
energy_data.head()

,country,year,iso_code,biofuel_consumption,biofuel_electricity,coal_consumption,coal_electricity,electricity_demand,electricity_generation,electricity_share_energy,...,other_renewable_electricity,other_renewable_exc_biofuel_electricity,per_capita_electricity,primary_energy_consumption,renewables_consumption,renewables_electricity,solar_consumption,solar_electricity,wind_consumption,wind_electricity
0,ASEAN (Ember),2000,NaN,NaN,5.60,NaN,71.03,368.65,368.65,NaN,...,22.53,16.93,NaN,NaN,NaN,72.90,NaN,0.0,NaN,0.0
1,ASEAN (Ember),2001,NaN,NaN,6.02,NaN,80.02,397.19,397.19,NaN,...,22.42,16.40,NaN,NaN,NaN,76.68,NaN,0.0,NaN,0.0
2,ASEAN (Ember),2002,NaN,NaN,6.06,NaN,87.16,422.82,422.82,NaN,...,22.67,16.61,NaN,NaN,NaN,75.99,NaN,0.0,NaN,0.0
3,ASEAN (Ember),2003,NaN,NaN,6.69,NaN,98.51,447.15,447.15,NaN,...,22.43,15.74,NaN,NaN,NaN,75.71,NaN,0.0,NaN,0.0
4,ASEAN (Ember),2004,NaN,NaN,7.57,NaN,111.62,484.94,484.94,NaN,...,24.14,16.57,NaN,NaN,NaN,77.02,NaN,0.0,NaN,0.0

In [7]:
energy_data = energy_data[energy_data['iso_code'].isna()==False]
energy_data = energy_data[energy_data['year'].between(2000,2025)]

In [8]:
energy_data = energy_data.reset_index(drop=True)

In [9]:
energy_data[energy_data.select_dtypes(include=['number']).columns] = energy_data.select_dtypes(include=['number']).fillna(0.0)
energy_data.head()

,country,year,iso_code,biofuel_consumption,biofuel_electricity,coal_consumption,coal_electricity,electricity_demand,electricity_generation,electricity_share_energy,...,other_renewable_electricity,other_renewable_exc_biofuel_electricity,per_capita_electricity,primary_energy_consumption,renewables_consumption,renewables_electricity,solar_consumption,solar_electricity,wind_consumption,wind_electricity
0,Afghanistan,2000,AFG,0.0,0.0,0.0,0.0,0.57,0.47,0.0,...,0.0,0.0,24.050,5.914,0.0,0.31,0.0,0.0,0.0,0.0
1,Afghanistan,2001,AFG,0.0,0.0,0.0,0.0,0.69,0.59,0.0,...,0.0,0.0,29.967,4.664,0.0,0.50,0.0,0.0,0.0,0.0
2,Afghanistan,2002,AFG,0.0,0.0,0.0,0.0,0.79,0.69,0.0,...,0.0,0.0,32.857,4.428,0.0,0.56,0.0,0.0,0.0,0.0
3,Afghanistan,2003,AFG,0.0,0.0,0.0,0.0,1.04,0.94,0.0,...,0.0,0.0,41.510,5.208,0.0,0.63,0.0,0.0,0.0,0.0
4,Afghanistan,2004,AFG,0.0,0.0,0.0,0.0,0.99,0.89,0.0,...,0.0,0.0,37.786,4.810,0.0,0.56,0.0,0.0,0.0,0.0